.section1 {
    display :flex;
    position: relative;
}
.section1__bg1 {
    float: right;
    width: 50%;

}
.section1__bg1 img {
    width: 670px;
    height: 480px;
}
.section__tittle {
    width: 399px;
    height: 132px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    margin-left: 20px;
}
.section__p {
    width: 422px;
    height: 85px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-left: 20px;
}
.section__button {
    margin-left: 20px;
    background-color: black;
    border-radius: 5px;
}
.section2 {
    display :block;
    position: relative;
}
.section__text2 {
    margin: 0 auto;
    width:30%;
}
.section__tittle2 {
    width:700px;
    height: 57px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}
.section2__bg2 img {
    width: 670px;
    height: 480px;
}
.section__p2 {
    width: 506px;
    height: 51px;font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display:flex;
    text-align: center;
}
.section__button2 {
    background-color: black;
    border-radius: 4px;
    margin: 0 auto;
}
.section3 {
    display :flex;
    position: relative;
}